---
import Layout from './Layout.astro';
import AuditModal from '../components/shared/AuditModal.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <AuditModal />
  
  <!-- Page Header -->
  <div class="bg-primary text-white pt-40 pb-20">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl md:text-5xl font-bold mb-6">{frontmatter.title}</h1>
    </div>
  </div>
  
  <!-- Main Content -->
  <div class="py-16">
    <div class="container mx-auto px-4">
      <slot />
    </div>
  </div>
</Layout>